@font-face {
	font-family: 'hl';
	src: url('../fonts/hl/HacenLinerScreen.eot');
	src: url('../fonts/hl/HacenLinerScreen.eot') format('embedded-opentype'),
	url('../fonts/hl/HacenLinerScreen.html') format('woff2'),
	url('../fonts/hl/HacenLinerScreen.woff') format('woff'),
	url('../fonts/hl/HacenLinerScreen.ttf') format('truetype'),
	url('../fonts/hl/HacenLinerScreen.svg#HacenLinerScreen') format('svg');
	font-weight:400;
}

@font-face {
	font-family: 'hl';
	src: url('../fonts/hl/HacenLinerScreenBd.eot');
	src: url('../fonts/hl/HacenLinerScreenBd.eot') format('embedded-opentype'),
	url('../fonts/hl/HacenLinerScreenBd.html') format('woff2'),
	url('../fonts/hl/HacenLinerScreenBd.woff') format('woff'),
	url('../fonts/hl/HacenLinerScreenBd.ttf') format('truetype'),
	url('../fonts/hl/HacenLinerScreenBd.svg#HacenLinerScreenBd') format('svg');
	font-weight:700;
}


/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
 	font-family: 'Droid Arabic Kufi';
 	font-style: normal;
 	font-weight: 400;
 	src: url(../fonts/kufi/DroidKufi-Regular.eot);
 	src: url(../fonts/kufi/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/kufi/DroidKufi-Regular.woff2) format('woff2'),
 	url(../fonts/kufi/DroidKufi-Regular.woff) format('woff'),
 	url(../fonts/kufi/DroidKufi-Regular.ttf) format('truetype');
 }
 @font-face {
 	font-family: 'Droid Arabic Kufi';
 	font-style: normal;
 	font-weight: 700;
 	src: url(../fonts/kufi/DroidKufi-Bold.eot);
 	src: url(../fonts/kufi/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/kufi/DroidKufi-Bold.woff2) format('woff2'),
 	url(../fonts/kufi/DroidKufi-Bold.woff) format('woff'),
 	url(../fonts/kufi/DroidKufi-Bold.ttf) format('truetype');
 }
 @font-face{
 	font-family:'GEFLOW';
 	src:url(../fonts/geflow/GE_FLOW_BOLD.eot);
 	src:url(../fonts/geflow/GE_FLOW_BOLD.eot?#iefix) format("embedded-opentype"),
 	url(../fonts/geflow/GE_FLOW_BOLD.woff) format("woff"),url(font/GE_FLOW_BOLD.ttf) format("truetype"),
 	url(../fonts/geflow/GE_FLOW_BOLD.svg#GE_FLOW_BOLD) format("svg");
 	font-weight:400!important;
 	font-style:normal
 }


 /*Regular*/
 @font-face {
 	font-family: 'STV Regular';
 	src: url('../fonts/stv_font/Regular/STV Regular.eot');
 	src: url('../fonts/stv_font/Regular/STV Regular.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Regular/STV Regular.woff2') format('woff2'),
 	url('../fonts/stv_font/Regular/STV.woff') format('woff'),
 	url('../fonts/stv_font/Regular/STV.svg#STV') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }
 /*Bold*/
 @font-face {
 	font-family: 'STV Bold';
 	src: url('../fonts/stv_font/Bold/STV-Bold.eot');
 	src: url('../fonts/stv_font/Bold/STV-Bold.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Bold/STV-Bold.woff2') format('woff2'),
 	url('../fonts/stv_font/Bold/STV-Bold.woff') format('woff'),
 	url('../fonts/stv_font/Bold/STV-Bold.svg#STV') format('svg');
 	font-weight: bold;
 	font-style: normal;
 }
 /*Light*/
 @font-face {
 	font-family: 'STV light';
 	src: url('../fonts/stv_font/Light/STV-Light.eot');
 	src: url('../fonts/stv_font/Light/STV-Light.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Light/STV-Light.woff2') format('woff2'),
 	url('../fonts/stv_font/Light/STV-Light.woff') format('woff'),
 	url('../fonts/stv_font/Light/STV-Light.svg#STV') format('svg');
 	font-weight: 100;
 	font-style: normal;
 }
 h1{font-size: 25px;}h2{font-size: 24px;}h3{font-size: 22px;}
 h4{font-size: 20px;}h5{font-size: 18px;}h6{font-size: 16px;}
 p{font-size: 14px;}
 a{font-size: 14px;text-decoration: none !important;color: #79a700;}
 body{
 	color: #000;
 	font-family: 'hl'; 
 	overflow-x: hidden;
 }
 /* Let's get this party started */
 .flexcroll::-webkit-scrollbar {
 	width: 10px;
 }

 /* Track */
 .flexcroll::-webkit-scrollbar-track {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  /*  -webkit-border-radius: 10px;
  border-radius: 10px;*/
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
   /* -webkit-border-radius: 10px;
   border-radius: 10px;*/
   background: rgba(0,191,255,0.8); 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* start bottom button*/

.bottom-button #to-top {
	position: fixed;
	z-index: 1;
	right: .2%;
	bottom: .2%;
	z-index: 799;
	background-color: #ffb61e;
/* border-radius: 50%; */}
.bottom-button #to-top i{
	color: #fff;
	font-size: 18px;
}
.bottom-button .btn.btn-lg {
	padding: 5px 5px;
}
.bottom-button .btn-inverse {
	background-color: #222;
	border-color: #080808;
	color: #9d9d9d;
}
.bottom-button .btn {
	border-radius: 0px;
	overflow: hidden;
	border: none;
}

/**********************/
.text-white{
	color: #fff;
}
.gray-color{
	color:#484848;
}
.green-color{
	color:green;

}
.background-white{
	background-color: #fff;
}
.no-padding{
	padding: 0;
}
.padding-4{
	padding-left: 4px;
	padding-right: 4px;
}
.ptop-5{
	padding-top: 5px;
}
.ptop-10{
	padding-top: 10px;
}
.ptop-20{
	padding-top: 20px;
}
.ptop-30{
	padding-top: 30px;
}
.ptop-40{
	padding-top: 40px;
}
.ptop-50{
	padding-top: 50px;
}
.pbottom-5{
	padding-bottom: 5px;
}
.pbottom-10{
	padding-bottom: 10px;
}
.pbottom-20{
	padding-bottom: 20px;
}
.pbottom-30{
	padding-bottom: 30px;
}
.pbottom-40{
	padding-bottom: 40px;
}
.pbottom-50{
	padding-bottom: 50px;
}
.pleft-5{
	padding-left: 5px;
}
.pleft-10{
	padding-left: 10px;
}
.pleft-20{
	padding-left: 20px;
}
.pright-5{
	padding-right: 5px;
}
.pright-10{
	padding-right: 10px;
}
.pright-20{
	padding-right: 20px;
}


.mtop-5{
	margin-top: 5px;
}
.mtop-10{
	margin-top: 10px;
}
.mtop-20{
	margin-top: 20px;
}
.mtop-30{
	margin-top: 30px;
}
.mtop-40{
	margin-top: 40px;
}
.mtop-50{
	margin-top: 50px;
}
.mbottom-5{
	margin-bottom: 5px;
}
.mbottom-10{
	margin-bottom: 10px;
}
.mbottom-20{
	margin-bottom: 20px;
}
.mbottom-30{
	margin-bottom: 30px;
}
.mbottom-40{
	margin-bottom: 40px;
}
.mbottom-50{
	margin-bottom: 50px;
}
.mleft-5{
	margin-left: 5px;
}
.mleft-10{
	margin-left: 10px;
}
.mleft-20{
	margin-left: 20px;
}
.mright-5{
	margin-right: 5px;
}
.mright-10{
	margin-right: 10px;
}
.mright-20{
	margin-right: 20px;
}
.btn-white-round{
	background-color: #fff;
	color: #95c11f;
	border-radius: 20px;
	padding: 7px 10px;
	border:1px solid #95c11f;
}
.btn-green-circled{
	background-color: #95c11f;
	color: #fff;
	border-radius: 20px;
	padding: 7px 30px !important;
	text-shadow: none;
	border:1px solid #95c11f;
}
.ft-20{
	font-size: 20px;
}
.ft-18{
	font-size: 18px;
}
.ft-16{
	font-size: 16px;
}
.ft-14{
	font-size: 14px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}
img{
	max-width: 100%
}


.mheader{
	position: relative;
	z-index: 9;
}
/**********************************/
/**********************************/
/*top-nav*/
.top-nav{
	padding: 5px 0px;
	background: rgb(160,160,160);
	background: -moz-linear-gradient(top, rgba(160,160,160,1) 0%, rgba(102,102,102,1) 25%, rgba(66,66,66,1) 49%, rgba(40,40,40,1) 51%, rgba(56,56,56,1) 100%);
	background: -webkit-linear-gradient(top, rgba(160,160,160,1) 0%,rgba(102,102,102,1) 25%,rgba(66,66,66,1) 49%,rgba(40,40,40,1) 51%,rgba(56,56,56,1) 100%);
	background: linear-gradient(to bottom, rgba(160,160,160,1) 0%,rgba(102,102,102,1) 25%,rgba(66,66,66,1) 49%,rgba(40,40,40,1) 51%,rgba(56,56,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#383838',GradientType=0 );
}
.head-contact img{
	width: 25px;
	height: 25px;
}
.head-contact a{
	color: #fff;
	margin-left: 15px;
	font-size: 16px;
}
.head-contact a:last-child{
	margin-left: 0px;
}


.social-links {

	text-align: left;

}
.social-links a {
	margin: 0px 5px;
}
.social-links a i{
	font-size: 20px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;

	border-radius: 50%;
}

.social-links .facebook i{
	background: #3B5998;
	color: white;
}
.social-links .twitter i{
	background: #55ACEE;
	color: white;
}

.social-links .youtube i{
	background: #bb0000;
	color: white;
}

.social-links .instagram i{
	background: #125688;
	color: white;
}

.social-links a:hover i,.head-contact a:hover img{
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

/**********************************/
/**********************************/
/*navbar*/
.navbar-default {
	background-color: #fff;
	border-color: #e7e7e7;
	background-image: none;
	margin-bottom: 0;
	border: 0;
	padding-top: 2px;
}
.navbar-brand{
	height: auto;
	padding: 2px;
}
.navbar-brand img{
	height: 100px;
}
.navbar-nav>li.saudi-vision>a{
	padding: 0
}
.saudi-vision img{
	height: 100px
}
.navbar-default .navbar-nav>li>a{
	font-size: 18px;
	text-shadow: none;
}
.navbar-nav.main-links{
	margin-top: 25px;
	margin-right: 20px;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	color: #555;
	background-color: transparent;
	box-shadow: none;
	background-image: none;
}




/**********************************/
/**********************************/
/* banner */
.banner{
	margin-top: 3px;
}
.banner .item .bg-slide img{
	height: 500px;
	width: 100%;
}
@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(1, 1);
	}
	to {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes zoom {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.1, 1.1);
	}
}

.carousel-inner .item .bg-slide > img {
	-webkit-animation: zoom 20s;
	animation: zoom 20s;
}

.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}
.fade-carousel {
	position: relative;
	height: 100vh;
}

.fade-carousel .carousel-indicators > li {
	margin: 0 2px;
	background-color: #f39c12;
	border-color: #f39c12;
	opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
	width: 10px;
	height: 10px;
	opacity: 1;
}





/**********************************/
/**********************************/
/* contact */
/***************/
.withShadow {
	background: url(../img/titleBarShadow.png) top center no-repeat;
}
.spaceAfterBeforTitleLine {
	margin: 50px 0 30px;
}


.LightBlocksPanel > .panel-heading ,
.soft_appPanel > .panel-heading{
	height:5px;
	padding:0px;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}
.LightBlocksPanel .BenefitsImage{
	margin:0 15px 0 0;
}
.LightBlocksPanel .BenefitsImage{
	margin:0 0 0 10px;
	/*width: 58px;
	height: 61px;
	float: right;*/
}
.LightBlocksPanel .BenefitsImage img{
	max-width: 100%;
	width: 130px;
}
.LightBlocksPanel:hover .BenefitsImage img{
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}
@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

.LightBlocksPanel .LightBlocks-Description{
	margin:15px 0 0;
	font-size:18px;
}
#HomeIndex.arabicContent .LightBlocksPanel .LightBlocks-Description{
	text-align:right;
}
.LightBlocksPanel .panel-footer{
	background-color:transparent;border:none;
}



.LightBlocksPanel.BlueTheme .LightBlocks-Data{background:#edf8fc;}
.LightBlocksPanel.BlueTheme .panel-heading{background:#8bd0ef;}
.LightBlocksPanel.BlueTheme .panel-footer .btn {color: #337ab7;border-color: #337ab7;}
.LightBlocksPanel.BlueTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #337ab7;background-color:#337ab7;}

.LightBlocksPanel.BlueDarkTheme .LightBlocks-Data{background:#CFE7F0;}
.LightBlocksPanel.BlueDarkTheme .panel-heading{background:#67B6D9;}
.LightBlocksPanel.BlueDarkTheme .panel-footer .btn {color: #337ab7;border-color: #337ab7;}
.LightBlocksPanel.BlueDarkTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #337ab7;background-color:#337ab7;}

.LightBlocksPanel.GreenTheme .LightBlocks-Data{background:#f2f7ea;}
.LightBlocksPanel.GreenTheme .panel-heading{background:#b3d260;}
.LightBlocksPanel.GreenTheme .panel-footer .btn {color: #8DB030;border-color: #8DB030;}
.LightBlocksPanel.GreenTheme .panel-footer .btn:hover  {color: #FFFFFF;border-color: #8DB030;background-color:#8DB030;}

.LightBlocksPanel.MaroonTheme .LightBlocks-Data{background:#fcece8;}
.LightBlocksPanel.MaroonTheme .panel-heading{background:#fb7e5e;}
.LightBlocksPanel.MaroonTheme .panel-footer .btn {color: #AD4C33;border-color: #AD4C33;}
.LightBlocksPanel.MaroonTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #AD4C33;background-color:#AD4C33;}

.LightBlocksPanel.BurpleTheme .LightBlocks-Data{background:#f6eff7;}
.LightBlocksPanel.BurpleTheme .panel-heading{background:#c098c5;}
.LightBlocksPanel.BurpleTheme .panel-footer .btn {color: #A948B5;border-color: #A948B5;}
.LightBlocksPanel.BurpleTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #A948B5;background-color:#A948B5;}

.LightBlocksPanel.RedTheme .LightBlocks-Data{background:#fceff0;}
.LightBlocksPanel.RedTheme .panel-heading{background:#f48d9a;}
.LightBlocksPanel.RedTheme .panel-footer .btn {color: #9B3542;border-color: #9B3542;}
.LightBlocksPanel.RedTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #9B3542;background-color:#9B3542;}

.LightBlocksPanel.PinkTheme .LightBlocks-Data{background:#feebfc;}
.LightBlocksPanel.PinkTheme .panel-heading{background:#fd73ee;}
.LightBlocksPanel.PinkTheme .panel-footer .btn {color: #B44EA9;border-color: #B44EA9;}
.LightBlocksPanel.PinkTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #B44EA9;background-color:#B44EA9;}

.LightBlocksPanel.GrayTheme .LightBlocks-Data{background:#f3f3f3;     border-top-left-radius: 5em;}
.LightBlocksPanel.GrayTheme .panel-heading{background:#000000;}
.LightBlocksPanel.GrayTheme .panel-footer .btn {color: #949492;border-color: #949492;}
.LightBlocksPanel.GrayTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #949492;background-color:#949492;}

.LightBlocksPanel.YellowTheme .LightBlocks-Data{background:#fcf7e5;}
.LightBlocksPanel.YellowTheme .panel-heading{background:#fddd64;}
.LightBlocksPanel.YellowTheme .panel-footer .btn {color: #C0A029;border-color: #C0A029;}
.LightBlocksPanel.YellowTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #C0A029;background-color:#C0A029;}

.LightBlocksPanel.BrownTheme .LightBlocks-Data{background:#fcf3e3;}
.LightBlocksPanel.BrownTheme .panel-heading{background:#d4c19d;}
.LightBlocksPanel.BrownTheme .panel-footer .btn {color: #9A7B41;border-color: #9A7B41;}
.LightBlocksPanel.BrownTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #9A7B41;background-color:#9A7B41;}

.LightBlocksPanel.OrangeTheme .LightBlocks-Data{background:#fbefde;}
.LightBlocksPanel.OrangeTheme .panel-heading{background:#ea8a06;}
.LightBlocksPanel.OrangeTheme .panel-footer .btn {color: #ea8a06;border-color: #ea8a06;}
.LightBlocksPanel.OrangeTheme .panel-footer .btn:hover {color: #FFFFFF;border-color: #ea8a06;background-color:#ea8a06;}



.popover-wrapper {
	position: relative;

	z-index: 1;
}

.popover-box {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0px;
	transform: translate(0, 10px);
	background-color: #fff;
	padding: 0px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: auto;
	min-width: 190px;
	border-radius: 5px;
	box-shadow: -2px 2px 8px #eee;
	border: 1px solid #999;
}

.popover-box:before {
	position: absolute;
	z-index: -1;
	content: "";
	right: calc(50% - 10px);
	top: -8px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #849f38 transparent;
	transition-duration: 0.3s;
	transition-property: transform;
}
.popover-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	background-color: #849f38;
	color: #fff;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}


.popover-wrapper:hover .popover-box {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, 22px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover-message {
	text-align: center;
}
.popover-box p{
	font-size: 16px;
}


.sec-benefits.our_departs .LightBlocksPanel > .LightBlocks-Data{
height: 350px;
    overflow: hidden;
    padding: 15px;
}
.sec-benefits.our_departs .BenefitsImage img {
    max-width: 100%;
    width: 130px;
    margin-top: 20px;
}
.sec-benefits.our_departs .LightBlocksPanel > .LightBlocks-Data  p.LightBlocks-Description{
	font-size: 20px;
	margin-bottom: 20px;
	color: #696969;
}
.sec-benefits.our_departs .LightBlocksPanel > .LightBlocks-Data p{
	font-size: 16px;
}
/**********************************/
/**********************************/
/*our-team-main*/
.our-team {
	background: #eee !important;
}
.our-team .card {
	padding: 10px;
	border: none;
	background: #ffffff;
	box-shadow: -2px 2px 8px #999;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.mainflip {
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

.frontside {
	position: relative;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	z-index: 2;
	margin-bottom: 30px;
}

.backside {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1s;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
	min-height: 312px;
}

.backside .card a {
	font-size: 18px;
	color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
	background-color: #849f38;
	color: #fff !important;
	padding: 5px;
	border-radius: 3px;
}
.frontside .card .card-body .profile-image{
	display: block;

	margin: 15px 0 30px;
	padding: 0;
	position: relative;
	width: 100%;
}
.frontside .card .card-body .profile-image:before {
	content: "";
	background-image: url(../img/bordered-circle.png);
	background-size: 215px 215px;
	height: 215px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: -13px;
	width: 215px;
}
.frontside .card .card-body .profile-image:before {
	transition: all 300ms linear 0s;
	-webkit-transition: all 300ms linear 0s;
	-moz-transition: all 300ms linear 0s;
	-ms-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
}

.frontside .card .card-body img {
	width: 190px;
	height: 190px;
	border-radius: 50%;
	border: 2px solid #408939;

}


.counter_box:hover:before {
	-moz-animation: spinoffPulse .8s infinite linear;
	-webkit-animation: spinoffPulse .8s infinite linear;
}


@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}

@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes rotatecircle {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}

@-webkit-keyframes rotatecircle {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}


.backside .card-text{
	font-size: 16px;
	/*overflow: auto;
	height: 150px;*/
}
.backside .btn-success i{
	color: #fff
}
/**************/

#owl-team .item{
	margin: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

#owl-team {
	direction: ltr !important;
	padding: 20px;

}
#owl-team .carousel-indicators{
	display:none;
}
#owl-team .carousel-control {
	position: absolute;
	top: 35%;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 0 !important;
	font-size: 15px;
	color: #fff;
}

/**********************************/
/**********************************/
/* features */
.contact-sec {
	background-image: url(../img/testmonial-back.png);
	background-size: cover;
	background-position: center;

}
.contact-sec .title{
	margin-top: 0;
}
.box-icon-2 {
	margin-bottom: 15px;
	height: 100%;
}
.box-icon-2 .icon {
	position: relative;
	color: #fff;
	display: block;
	font-size: 36px;
	line-height: 2;
	width: 85px;
	height: 85px;
	border: 4px solid #ff9c00;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	margin-left: 20px;
	margin-bottom: 20px;
	float: right;
	text-align: center;
	background: rgb(83,110,6);
	background: radial-gradient(circle, rgba(83,110,6,1) 0%, rgba(155,186,68,1) 100%);
}

.box-icon-2 .icon:before {
	content: "";
	height: 100px;
	width: 100px;
	display: block;
	position: absolute;
	left: -12px;
	top: -12px;
	border: 2px dashed #fff;
	border-radius: 50%;
	border-color: inherit;
	opacity: .6;
}
.box-icon-2 .icon:after {
	content: "";
	height: 65px;
	width: 65px;
	display: block;
	position: absolute;
	left: 6px;
	top: 6px;
	border: 1px solid #fff;
	border-radius: 50%;
	opacity: .3;
}
.box-icon-2 .icon:hover {
	transform: scale(1.05);
	text-decoration: none;
	opacity: .95 -webkit-box-shadow: inset 0px 0px 0px 13px rgba(64, 137, 57, 0.9);
	-moz-box-shadow: inset 0px 0px 0px 13px rgba(64, 137, 57, 0.9);
	box-shadow: inset 0px 0px 0px 13px rgba(64, 137, 57, 0.9);



}
.box-icon-2 .icon:hover:before {
	-moz-animation: spinoffPulse .8s infinite linear;
	-webkit-animation: spinoffPulse .8s infinite linear;
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}

@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes rotatecircle {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}

@-webkit-keyframes rotatecircle {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}


.box-icon-2 .body-content {
	margin-right: 105px;
}
.box-icon-2 .body-content h4{
	color: #849f38;
}





/**********************************/
/**********************************/
/* contact */
.contact .head{
	padding: 15px ;
	margin: 0;
	background-color: #849f38; ;
}
.p-30 {
	padding: 30px !important;
}
.bg-light {
	background-color: #f5f5f5 !important;
}
.contact form {
	padding: 20px;
}
form label {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.form-control {
	border-radius: 0;
	box-shadow: none;
	height: 45px;
}
.btn-dark.btn-theme-colored {
	color: #fff;
	background-color: #ff9c00;
	border-color: #ff9c00;
	font-size: 18px;
}
.btn-dark.btn-theme-colored:hover {
	color: #fff;
	background-color: #849f38;
	border-color: #849f38;
}

/**********************************/
/**********************************/
/* events */
.line-bottom {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.text-theme-color-2 {
	color: #ff9c00;
}
.line-bottom:after {
	bottom: -1px;
	content: "";
	height: 2px;
	right: 0;
	position: absolute;
	width: 50px;
	background: #1F386B !important;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.text-white {
	color: #fff !important;
}









































/**********************/
/**********************/
/*clients*/
.clients{
	background-color: #f5f5f5;

}
#owl-demo1 .item{
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

#owl-demo1 {
	direction: ltr !important;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #999;
}
#owl-demo1 .carousel-indicators{
	display:none;
}
#owl-demo1 .carousel-control {
	position: absolute;
	top: 35%;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 0 !important;
	font-size: 15px;
	color: #fff;
}
#owl-demo1 .item img{
	width: 100%;
	height: 100px;
	border: 1px solid #eee;
	border-bottom: 2px solid #e84c3d;

}











/**********************/
/*footer*/
.footer {
	color: #aaa;
	background-color: #1f1f1f;
}
.footer-inner {
	padding-top: 48px;
	padding-bottom: 53px;
}
.border-decor_top {
	border-top: 5px solid #f6c640;
}
.widget_text {
	border-top-color: #f6c640;
}
.footer-title {
	margin-top: 0;
	padding-top: 0px;
	font-weight: 700;
	color: #fff;
}
.footer-title:after {
	display: block;
	width: 30px;
	margin-top: 18px;
	margin-bottom: 15px;
	border-top: 1px solid #666;
	content: '';
}
.footer-logo {
	padding: 7px;
	width: 200px;
}
.footer-info {
	margin-top: 6px;
	margin-bottom: 10px;
	line-height: 1.69;
}
.footer-contacts {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
	overflow: hidden;
}
address {
	margin-bottom: 0px;
}
.tweets {
	margin-bottom: 18px;
	padding-bottom: 21px;
	border-bottom: 1px solid #333;
}
.tweets a{
	font-size: 16px;
	color: #ff9c00;
}
.tweets p{
	color: #aaa;
}
.tweets-time {
	display: block;
	margin-top: 9px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
}
.tweets-link {
	font-size: 12px;
	color: #3b99d7;
}
.footer .form-control {
	margin-bottom: 8px;
	padding-top: 13px;
	padding-bottom: 12px;
	border-color: #333;
	background-color: #fff;
}


.footer-contacts .icon {
	float: right;
	margin-top: 4px;
	font-size: 14px;
	color: #ff9c00;
}
.footer-contacts-inner {
	display: block;
	margin-right: 26px;
	color: #aaa;
}
.footer-list {
	padding-right: 16px;
}
.footer-list-item {
	margin-bottom: 11px;
}
.footer-list-link {
	color: #aaa;
	font-size: 17px;
}

/****************/
/*copyright*/

.footer-bottom {
	background-color: #f5f5f5;
	/* padding-top: 40px; */
	padding: 40px;
	/* padding-bottom: 40px; */
	border-top: 5px solid #ff9c00;
}
.copyright {
	float: right;
}
.copyright a, .copyright a:hover {
	color: #849f38;
}
.footer .social-links {
	float: left;
	margin-bottom: 0;
}
.social-links li {
	display: inline-block;
}
.social-links .icon {
	padding-right: 8px;
	padding-left: 9px;
	font-size: 16px;
	color: #666;
	transition: all 0.3s;
}

/*********************************/
/***********************************/
.fixed-social {
	position: fixed;
	top: 25%;
	right: 0;
	/* transform: translate(-50%,-50%); */
	z-index: 11;
	display: none;
}
.fixed-social ul {
	list-style: none;
}
.fixed-social ul li {
	width: 40px;
	height: 40px;
	background: #e59500;
	margin: 10px 0;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 50%;
}
.fixed-social ul li .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;

	color: #fff;
}
.fixed-social ul li.facebook {
	background: #3b5999;
}
.fixed-social ul li.twitter {
	background: #55acee;
}
.fixed-social ul li.instagram {
	background: #e4405f;
}
.fixed-social ul li.google {
	background: #dd4b39;
}
.fixed-social ul li.whatsapp {
	background: #25d366;
}
.fixed-social .slider-text {
	position: absolute;
	top: 0;
	right: 51px;
	width: 0px;
	height: 50px;
	line-height: 50px;
	background: #eebb5c;
	text-align: center;
	border-radius: 3px;
	transition: all 0.2s ease;
}
.fixed-social .slider-text p {
	text-transform: uppercase;
	font-size: 16px;
	opacity: 0;
	font-weight: 900;
	transition: all 0.2s ease;
	color: #fff;
}
.fixed-social ul li.facebook div.slider-text {
	background: #624aac;
}
.fixed-social ul li.twitter div.slider-text {
	background: #7fd5f6;
}
.fixed-social ul li.instagram div.slider-text {
	background: #dd94c6;
}
.fixed-social ul li.google div.slider-text {
	background: #eea59c;
}
.fixed-social ul li.whatsapp div.slider-text {
	background: #82d47e;
}
.fixed-social ul li:hover .slider-text {
	width: 180px;
}
.fixed-social ul li:hover .slider-text p {
	opacity: 1;
}


/*********************************/
/***********************************/
.section-header h3 {
	font-size: 20px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	position: relative;
	padding-bottom: 15px;
}

.section-header h3::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
}

.section-header h3::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #18d26e;
	bottom: 0;
	left: calc(50% - 20px);
}

/*********************************/
/***********************************/
/* about page */
.page_title  {
	background-color: transparent;
	position: relative;
	padding: 35px 0px;
	margin-bottom: 25px;
}
.page_title.corner-title:before {
	background-image: url(../img/breadcrumbs.jpg);
	bottom: 7px;
	content: "";
	height: 250px;
	left: 0;
	position: absolute;
	-webkit-transform: skewY(3deg);
	-ms-transform: skewY(3deg);
	transform: skewY(3deg);
	width: 50%;
	z-index: 0;
}
.page_title.corner-title:after {
	background-image: url(../img/breadcrumbs.jpg);
	bottom: 7px;
	content: "";
	height: 250px;
	position: absolute;
	right: 0;
	-webkit-transform: skewY(-3deg);
	-ms-transform: skewY(-3deg);
	transform: skewY(-3deg);
	width: 50%;
	z-index: -1;
}
.about-logo {
	margin-bottom: 20px;
}
.about-logo img{
	height: 250px;
	
}
.nbza {

}
.nbza p{
	font-size: 18px;
	line-height: 25px;
}

.vision{

}
.more-about {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 18px 35px 18px;
    min-height: 190px;
    margin-bottom: 50px;
    background-color: #fff;
}
.more-about:before {
	content: "";
	margin: -1px auto auto;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	background-color: #f5ab35;
}
.more-about .title-1 {
    font-size: 18px;
    margin-bottom: 0;
}
.more-about img{
	width: 80px;
	float: right;
	margin-left: 10px;
}
.clrbg-before{
	margin-right: 80px;
}
.pad-10 {
	padding-bottom: 10px;
	padding-top: 10px;
}
.more-about p {
	margin-bottom: 15px;
	line-height: 1.8;
}
.our-values {
    background: #eee !important;
}
@media (min-width: 992px){
.col-md-20 {
    width: 20%;
}
}
.values img{
	width: 150px;
}
.values .title-1{
	font-size: 18px;
}
.values p{
	font-size: 16px;
}

.our-values .values-box{
    background-color: #fff;
    padding: 10px;
        height: 285px;
        box-shadow: -2px 2px 8px #999;
}
.our-values .values-box:hover{
	margin-top: -5px;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.features{
	 background: #eee !important;
}
.features p{
	font-size: 16px;
}

/*********************************/
/***********************************/
/* news page */
.post-slide {
    overflow: hidden;
    margin-right: 15px;
    background-color: #fff !important;
    border: 1px solid #eee;
    box-shadow: -2px 2px 8px #999;
    margin-bottom: 20px;
}
.post-slide .post-img {
    float: right;
    width: 50%;
    position: relative;

}
 
.post-slide .post-date {
    background: #ec3c6a;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 2% 3%;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: all 0.50s ease;
}
.post-slide .date {
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.post-slide .month {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
}
.post-slide .post-review {
    padding: 5% 3% 1% 0;
    border-top: 3px solid #849f38;
    width: 50%;
    float: right;
}
.post-slide .post-title {
    margin: 0 0 10px 0;
}
.post-slide .post-title a {
    font-size: 18px;
}
.post-review .post-bar {
    margin-top: 20px;
}
.post-slide .post-bar {
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.post-slide .post-bar:after, .post-slide .post-bar:before {
    border: 1px solid #368b9f;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
    right: 10%;
    width: 25px;
}
 .post-slide .post-bar:before {
    border: 1px solid #ff9c00;
    right: 0%;
}
.post-slide .post-bar li {
    color: #555;
    font-size: 10px;
    margin-left: 10px;
    display: inline-block;
}
.post-slide .post-bar li i {
    color: #777;
    margin-left: 5px;
}

.post-slide .post-description {
    font-size: 16px;
    line-height: 21px;
    color: #444454;
    font-weight: 400;
    text-align: right;
}

/**********************/
/***   pagination   ***/
/**********************/

.page-item{
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    box-sizing: none;
    box-shadow: none;
}

.page-item:first-child .page-link {
  width: 90px;
  text-align: center;
  border-radius: 20px;
}

.page-item:last-child .page-link {
  border-radius: 20px;
  width: 90px;
  text-align: center;
}

.page-link{
    background-color: #CCC;
    border: 1px solid black;
    border-radius: 20px;
    width:40px;
    padding-left:0px;
    padding-right: 1px;
    text-align: center;
    
}

.page-link.pagina{
    height: 40px;
    width: 40px;
    line-height: 27px;
    border: 1px solid black;
    border-radius: 50%;
    color: #FFF;
    background: rgb(125,126,125);
	background: -moz-linear-gradient(-45deg, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(135deg, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.9);
    margin: 0px 6px;
    outline: none;
}
.page-link:hover{
	color: #fff !important;
    background: rgb(125,126,125);
	background: -moz-linear-gradient(-45deg, rgba(195,196,195,1) 0%, rgba(84,84,85,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(195,196,195,1) 0%,rgba(84,84,85,1) 100%);
	background: linear-gradient(135deg, rgba(195,196,195,1) 0%,rgba(64,64,65,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
   
}
.pagina.actief{
    background: rgb(125,126,125);
	background: -moz-linear-gradient(-45deg, rgba(125,255,125,1) 0%, rgba(14,144,14,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(125,255,125,1) 0%,rgba(14,144,14,1) 100%);
	background: linear-gradient(135deg, rgba(125,255,125,1) 0%,rgba(14,144,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
}
/*********************************/
/***********************************/
/**single news**/
/********************/
 
.news-details-page{
  padding: 25px 0;
}
.news-details-page .news-details-content{
  background-color: #fbfbfb;
  padding: 25px 10px;
}
.news-details-page .news-details-content .title{

  margin-left: 10px;
  margin-top: 0;
  line-height: 25px;
}
.news-details-page .news-details-content .paragraph {
  line-height: 25px;
  font-size: 18px;
  color: #5a5a5a;
}


.news-details-page .title a{
  color: #002542;
  font-weight: bold;
  font-size: 16px;
}
.news-details-page .date{
  color: #999;
  font-weight: bold;
  margin-bottom: 0;
}
.news-details-page .date .fa-user {
  font-size: 16px;
}
.news-details-page .main-img{
  width: 70%;
  margin-bottom: 10px;
  margin: auto;
}
.news-details-page .white{
  border-color: #fff;
}
.news-details-page .annimg{
  margin-bottom: 20px;
  width: 70%;

}
.news-details-page .category {
  color: #fff;
  float: left;
    box-shadow: inset 1px 1px 11px #222;
    background-color: #37c386;
  padding: 5px;
  border-radius: 3px;
 }


.news-details-page .share{
  transform: translate(40%,0%);
  margin-bottom: 20px;
}
.news-details-page .related-imgs li{
  padding-right: 5px;
  padding-left: 5px;
}
.news-details-page .box-img {
  border: 7px solid #edf1f6;
  margin-bottom: 10px;
  width: 80%;
  margin: auto;
}
.news-details-page .box-img img{
  height: auto;
}

.news-details-page .sidebar{
  background-color: #fbfbfb;
  border: 1px solid #999;
  padding: 5px;
  box-shadow: 2px 2px 8px #000;
}
.news-details-page .sidebar .heading {
    margin-top: 0;
    background-color: #849f38;
    color: #fff;
    font-size: 16px;
    padding: 10px 7px;
}
.news-details-page .related-news .single{
  border-bottom: 1px solid #999;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.news-details-page .related-news .single img{
  float: right;
  margin-left: 5px;
}
.news-details-page .related-news li h6 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}
.news-details-page .related-news li:nth-child(2n) h6 {
  color: #002542;
}
.widget {
    margin-bottom: 20px;
    padding-left: 0;
}
ul.tag-cloud, ul.sidebar-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tag-cloud li {
    display: inline-block;
    margin-bottom: 3px;
}
.tag-cloud li a {
    background: #999;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 8px 15px;
}


/*********************************/
/***********************************/
/**contact**/
.connect-icon {
	margin-bottom: 25px;
	display: inline-block;
	width: 100%;
}
.connect-icon img{
width: 50px;
height: 50px;
float: right;
}
.connect-icon .left-connect{
	float: right;
	margin-right: 20px;
}
.connect-icon:hover img{
	margin-right: -5px;
-webkit-transition: 0.3s all ease;
-moz-transition: 0.3s all ease;
transition: 0.3s all ease;
}

/*********************************/
/***********************************/
/**contact**/

.single-depart{
background: url(../img/background.jpg) fixed ;
background-position: center center;
background-size: 100%;

}
 .paragraph {
    line-height: 25px;
    font-size: 18px;
    color: #5a5a5a;
}
ul.feats {
	padding-right: 30px
}
ul.feats li{
	font-size: 18px;
	color: #555;
	margin-bottom: 15px;
}
ul.feats li i{
	color: #849f38;
}
.departs-imgs {
	text-align: center;
}
.departs-imgs img{
	height: auto;
	width: auto;
	max-width: 100%;
	margin-bottom: 30px
}